.company-confirm{
    width: 800px;
    height: 80px;
    top: 124px;
    left: 309px;
    border-radius: 20px;
    border: 1px solid #E2E2E4;
    position: relative;
}

.confirmation-text{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #67725D;
    margin-left: 11.5rem;
    margin-top: 1.5rem;
    width: 41rem;
  
}

.sponser-li{
    width: 235px;
    height: 256px;
    border-radius: 20px;
    border: 0.5px solid #E2E2E4;
    background-color: #FCFCFC;
    position: relative;
    top: 12rem;

}

.company-imgss-2{
    position: relative;
    left: 57px;
    top: 2rem;
}

.title-space{
    width: 8.5rem;
    height: 29.97px;
    position: relative;
    top: 12rem;
    left: 17px;
    border: 1px solid #E2E2E4;
    background-color: #FCFCFC;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    padding-left: 62px;
    /* right: 71px; */
    /* left: -213px; */
    
}


.company-titles-1{
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    width: 12rem;
   position: relative;
   right: 0.5rem;
   top: 0.5rem;
}

.comapny-boxes{
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 44px;
    /* margin-right: 27px; */
    position: relative;
    right: 30.8rem;
    top: 3rem;
}




.company-imgss-1{
    position: relative;
    left: 33px;
    top: 3rem;
}