/* Global styles */

/* Container styles */
.Container-forgetpassword {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
}

.Forgetpassword-sub {
  background-color: #ffffff;
  width: 86rem;
  max-width: 118%;
  height: 52rem;
  /* padding: 1rem; */

  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;

}

.left-side-forget-password {
  margin-top: 5rem;
  flex: 1 1;
  margin-left: 4rem;
}

.right-side-forget-password {
  flex: 1; /* Allow the right side to grow */
  margin-top: 7rem;
  margin-left: 11rem;

}

/* Additional styles for your specific elements */
.Verfication-text {
  color: #6a6c6f;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-left: 10.6rem;
}

.button-container {
  margin-top: 1rem;
}

.Enter-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #222222;
  margin-top: 1rem;
  font-family: Poppins;
  margin-right: 8rem;
    


  margin-top: 2rem;
}

.Email-address-text {
  color: #5d982e;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-left: 0.5rem;
}

.Email-heading {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin-left: 2.1rem;
  margin-top: 2rem;
}

.email-input-forgert-password {
  width: 27rem;
  height: 3rem;
  border: 1px solid #e2e2e4;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding-left: 1rem;
  margin-left: 2rem;
}

.submit-email-btn,
.cancel-email-btn {
  width: 13rem;
  height: 2.5rem;
  border: 1px solid #5d982e;
  background-color: #5d982e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2rem;
}

.Logo-img {
  margin-bottom: 5rem;
  position: relative;
  top: 6rem;
  left: 10rem;
}

.side-img-forget {
  width: 28rem;
  height: 31rem;
}




@media (max-width: 1280px) {
  .Enter-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #222222;
    margin-top: 1rem;
    font-family: Poppins;

    margin-top: 2rem;
  }
}
@media (max-width: 1024px) {
  .Enter-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #222222;
    margin-top: 1rem;
    font-family: Poppins;
    margin-right: 3.5rem;
    margin-top: 2rem;
  }
}









