/* NotificationBox.css */
.notification-box {
    width: 20rem;
    height: 20rem;
    border: 1px solid #FCFCFC;

    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;

    margin-top: 6rem;
    z-index: 1;

    background-color: #FCFCFC;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #5d982e white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    margin-left: -37rem;
  }
  

  .notifiction-box-heading{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    
  }

  .right-side-noti{
    margin-right: 1rem;
    margin-bottom: 12px;
  }

  .notification-heading{
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    /* line-height: 15px; */
    letter-spacing: 0em;
    text-align: left;
  }

  .notification-status-approved{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #5D982E;
  }

  .notification-status-rejct{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #DD2025;
  }

  .notification-text{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    /* line-height: 12px; */
    letter-spacing: 0em;
    text-align: left;
  }

  .approved{
    width: 5rem;
    height: 4.9rem;
  }




  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .see-all-button {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .see-all-button:hover {
    background-color: #0e5aaf;
  }
  
  .notification-list ul {
    list-style: none;
    padding: 0;
  }
  
  .notification-item {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .notification-item:last-child {
    border-bottom: none;
  }
  