.phase-4-all-phase{
  display: flex;
  column-gap: 55px;
  margin-left: 2px;
  margin-top: 1rem;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid #E2E2E4;
}


.link-hover-effect {
  /* Your regular link styles here */
  color: #333; /* Default color */
  transition: color 0.3s ease; /* Add a transition to the color property */
}

.link-hover-effect.link-active {
  color: #5d982e; /* Active link color */
}


.link-active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #5d982e;
  margin: auto;
  display: block;
}




.Main-form{
    background-color: #ffffff;
    border: 1px solid #FFFFFE;
    width: 77rem;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #5d982e white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    height: 36rem;
    margin-left: -1rem;
    margin-top: 1rem;
    display: flex;
    column-gap: 10rem;
}

.fill-data-border-phase4{
  width: 76.5rem;
  max-width: 100%;
  height: 36rem;
  /* padding: 1rem; */
  scroll-behavior: smooth;
  /* margin-right: 135rem; */
  position: absolute;
  margin-bottom: -7rem;
  border: 1px solid #E2E2E4;
  border-radius: 20px;
  left: 3rem;
  top: 12rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: #5d982e #fff;
  scrollbar-width: thin;

}

.genral-text-left-side{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 14px;
    padding: 6px;
    width: 31rem;
}

.genral-input-left-side{
    width: 30rem;
    height: 39px;
    border: 1px solid #E2E2E4;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding-left: 15px;
}


.genral-text-right-side{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 14px;
    padding: 6px;
    margin-left: -4px;
  }
  
  .genral-input-right-side{
    width: 30rem;
      height: 39px;
      border: 1px solid #E2E2E4;
      border-radius: 10px;
      background-color: #F7F7F7;
      padding-left: 15px;
  }

.left-side-phase{
    width: 50%;
    margin-top: 15px;
    margin-left: 7px;
    padding: 6px;
  }

  .right-side-phase{
    margin-top: 2rem;
  }
  
.checkbox-phase1{
    display: flex;
    column-gap: 12px;
    font-size: 12px;
    margin-left: 5px;
  }

  .genral-input-right-side-selector{
    width: 31rem;
    height: 39px;
    border: 1px solid #E2E2E4;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding-left: 15px;
  }

  .genral-input-left-side-selector{
    width: 31rem;
    height: 39px;
    border: 1px solid #E2E2E4;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding-left: 15px;
  }


