.Setting-box {
    width: 15rem;
    height: 7rem;
    border: 1px solid #FCFCFC;
    /* overflow-y: scroll; */
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    /* margin-left: -22rem; */
    margin-top: 6rem;
    z-index: 1;
    margin-left: 59.3rem;
    background-color: #FCFCFC;
    border-radius: 10px;
 
  }
  
  .icons{
    width: 5rem;
    height: 1.9rem;
  }

  .right-side-setting{
    margin-right: 5rem;
    margin-bottom: 12px;
  }

  .setting-list{
    margin-top: -1rem;
  }

  .next-page-icon{
    height: 1.1rem;
  }

  .Setting-heading{
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    /* line-height: 15px; */
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    column-gap: 2rem;
    align-items: center;
  }