
* {
  padding:0;
  margin:0;
}
body {
  background-color:#fff;
  /* font-family:; */
  font-size:16px;
  line-height:2;
}
h1,h2,h3,h4,h5,h6,p,span,a {
  padding:0;
  margin:0;
}
a {
  text-decoration:none; 
}
li {
  list-style-type: none;
}

* {
    padding:0;
    margin:0;
  }
  body {
    background-color: #f7f7f7;
    font-family:monospace;
    font-size:15px;
    line-height:2;
    overflow: auto;
  }

  .p-Input-input {
    display: block;
    width: 100%;
    background-color: #f7f7f7 !important;
}
  
  
  h1,h2,h3,h4,h5,h6,p,span,a {
    padding:0;
    margin:0;
  }
  a {
    text-decoration:none; 
  }
  li {
    list-style-type: none;
  }
  
  .App{
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    padding: 0 5px;
  }

  .redborder{
    border: 1px solid red !important;
  }

  .rc-anchor-container{
    width: 250px !important;
    height: 80px !important;
  }

  #recaptcha-container>div>div{
    width: 200px !important;
    height: 50px !important;
  }
  
  
    @media (max-width: 1920px) {
      .App{
        max-width: 1920px;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.85) !important;
            /* transform: translate(37%, 12px); */
      }
    }
  
    @media (max-width: 1866px) {
      .App{
        max-width: 1680px;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.9);
            /* transform: translate(37%, 12px); */
      }
    }
  
  
    @media (min-width: 1730px) {
      .App{
        min-width: 1730px;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.9);
            /* transform: translate(37%, 12px); */
      }
    }
  
  
    @media (max-width: 1600px) {
      .App{
        max-width: 1680px;
        margin-top: -3rem !important;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.8) !important;
            /* transform: translate(37%, 12px); */
      }
    }
  
    
    @media (max-width: 1530px) {
      .App{
        max-width: 1680px;
        margin: 0 auto;

        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
        transform: scale(0.7) !important;
            /* transform: translate(37%, 12px); */
      }
    }
  
  
  
  
  
  
  
    @media (max-width: 1440px) {
      .App{
        max-width: 1366px;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.8) !important;
      }
    } 
  

    @media (max-width: 1366px) {
      .App{
        max-width: 1366px;
        margin: 0 auto;
        margin-top: -5.5rem !important;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.64) !important;
      }
    } 

      
 
  
    @media (max-width: 1280px) {
      .App{
        max-width: 1366px;
        margin: 0 auto;
       margin-top: -2rem !important;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.6);
      }
    }  
  
  
  
  
     
    @media (max-width: 1280px) {
      .App{
        max-width: 1280px;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.83);
      }
    } 
  
    @media (max-width: 1130px) {
      .App{
        max-width: 1280px;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.83);
      }
    } 
  
  
  
  
  
    @media (max-width: 1024px) {
      .App{
        max-width: 1024px;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
        transform-origin: center center;
            transform: scale(0.66);
      }
    } 
